{% extends 'base.html' %}

{% block title %}Note Details{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/note-details.css' %}">
{% endblock css %}

{% block content %}
<div class="note-details">

    <h1>{{note.title}}</h1>
    <label> Created on {{note.created_on}}</label>


    <div class="parent">
        {% if note.image %}
        <img src="{{note.image.url}}">
        {% endif %}

        <p>{{note.content}}</p>
    </div>

    <br />
    <div class ="controls">
        <a class="btn btn-update" href="{% url 'note_detail' note.id %}">Update Note</a>
        <a class="btn btn-delete" href="{% url 'note_delete' note.id %}">Delete Note</a>
    </div>
</div>
{% endblock %}